* {
    box-sizing: border-box;
}

.section-top {
    padding-top: 20px;
}

body {
    /* below to overwrite user agent stylesheet*/
    margin: 0;
}

.top-background-news-page {
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 80%;
    background-image: url("../images/flower-background-pic-5.jpg");
    background-repeat: no-repeat;
}

.top-background-about-me-page {
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 80%;
    background-image: url("../images/flower-background-pic-8.jpg");
    background-repeat: no-repeat;
}

.top-background-useful-links-page {
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 80%;
    background-image: url("../images/flower-background-pic-10.jpg");
    background-repeat: no-repeat;
}

.top-background-gardener-page {
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 80%;
    background-image: url("../images/flower-background-pic-6.jpg");
    background-repeat: no-repeat;
}

.imageSlides {
    display: none;
    /* ensure image is in center*/
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.image-number-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 12px 12px;
    position: absolute;
    top: 0;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.image-select-dot {
    text-align: center;
    padding-top: 15px;
}

.select-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBBBBB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .select-dot:hover {
    background-color: #4C4C4C;
}

.navigation-bar-horizontal-background {
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #A9D0F5;
    opacity: 0.8;
}

.navigation-bar-horizontal {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 100px;
    width: 100%;
}

.navigation-item-horizontal {
    float: left;
}

.navigation-item-horizontal a {
    display: block;
    color: #6E6E6E;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navigation-item-horizontal a:hover {
    color: #4CAF50;
}

.navigation-item-active {
    color: #4CAF50;
    font-weight: bold;
}

.section {
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 100px;
}

.section-title {
    font-size: 24px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #045FB4;
}

.section-subtitle {
    padding-top: 6px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #0174DF;
}

.section-content {
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #848484;
}

.right-body-link a:hover, a:active {
    text-decoration: none;
    color: #4CAF50;
}

.right-body-link a:link, a:visited {
    text-decoration: underline;
    color: #848484;
    font-weight: bold;
}

.text-emphasize {
    font-weight: bold;
    font-style: italic;
}

.moving-text {
    color: #848484;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    position: relative;
    animation-name: news-moving-text;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* for Safari 4.0-8.0: */    
    -webkit-animation-name: news-moving-text;
    -webkit-animatinn-duration: 4s;
    -webkit-animation-fill-mode: forwards;
}

#moving-text-1 {
   animation-timing-function: linear;
}

#moving-text-2 {
   animation-timing-function: ease;
}

#moving-text-3 {
   animation-timing-function: ease-in;
}

/* Safari 4.0-8.0 */
@-webkit-keyframes news-moving-text {
  from {left: 0px;}
  to {left: 200px;}
} 

/* Standard syntax */
@keyframes news-moving-text {
  from {left: 0px;}
  to {left: 200px;}
}

.garden-pic-container {
    width: 784px;
    height: 588px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.garden-pic {
    width: 100%;
    border-radius: 20px;
}

.garden-pic-1 {
}

.garden-pic-2 {
    background-image: url("../images/garden-pic-2.png");
}

.garden-pic-3 {
    background-image: url("../images/garden-pic-3.png");
}

.garden-pic-4 {
    background-image: url("../images/garden-pic-4.png");
}

.garden-pic-5 {
    background-image: url("../images/garden-pic-5.png");
}

.garden-pic-6 {
    background-image: url("../images/garden-pic-6.png");
}

@keyframes garden-pic-transition {
    from {opacity: 0;}
    to {opacity: 1;}
}

.music-box {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 160px;
}

.music-text {
    font-style: italic;
    font-weight: bold;
    font-color: #3A3C3E;
}

.me105-content-wrapper {
}

.me105-lectures-table table {
    border-collapse: collapse;
}

.me105-lectures-table table, th, td {
    border: 2px solid #045FB4;
}

.me105-lectures-table th, td {
    height: 80px;
    width: 150px;
    text-align: center;
}

.table-first-row {
    font-weight: bold;
}

.paper-intro-background {
    padding: 5px;
    background-color: #EAEFF7;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-size-24 {
    font-size: 24px;
}

.lecture-container {
    margin-top: 30px;
    width: 100%;
    height: 350px;
    font-size: 16.5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #848484;
}

.lecture-sub-container-1 {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
}

.lecture-sub-container-2 {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: right;
    padding: 10px;
}

.lecture-text-container {
    padding: 50px 20px 20px 20px;
}

.lecture-title-container {
    width: 100%;
}

.lecture-title-text {
    font-size: 24px;
    font-weight: bold;
}

.lecture-title-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/lectures/blue-book-icon.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lecture-pic-container {
    padding: 15px;
    width: 100%;
    height: 100%;
}

.lecture-pic-1 {
    width: 100%;
    height: 100%;
    background-image: url("../images/lectures/lecture-tech-history.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lecture-pic-2 {
    width: 100%;
    height: 100%;
    background-image: url("../images/lectures/lecture-leadership-career.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lecture-pic-3 {
    width: 100%;
    height: 100%;
    background-image: url("../images/lectures/lecture-design-beauty.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
