.section-top {
    padding-top: 20px;
}

.section {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-title {
    font-size: 24px;
    font-family: Verdana;
    font-weight: bold;
}

.section-subtitle {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
}

.section-content {
    padding-top: 5px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.text-emphasize {
    font-weight: bold;
    font-style: italic;
}

.moving-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    position: relative;
    animation-name: news-moving-text;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* for Safari 4.0-8.0: */    
    -webkit-animation-name: news-moving-text;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
}

#moving-text-1 {
   animation-timing-function: linear;
}

#moving-text-2 {
   animation-timing-function: ease;
}

#moving-text-3 {
   animation-timing-function: ease-in;
}

/* Safari 4.0-8.0 */
@-webkit-keyframes news-moving-text {
  from {left: 0px;}
  to {left: 200px;}
} 

/* Standard syntax */
@keyframes news-moving-text {
  from {left: 0px;}
  to {left: 200px;}
}

.garden-pic-container {
    width: 420px;
    height: 310px;
}

.garden-pic {
    width: 400px;
    max-height: 300px;
    /*animation-name: garden-pic-transition;*/
    /*animation-duration: 2s;*/
    /*animation-fill-mode: forwards;*/
}

@keyframes garden-pic-transition {
    from {opacity: 0;}
    to {opacity: 1;}
}

.music-box {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: yellow;
}

.music-text {
    font-style: italic;
    font-weight: bold;
    font-color: #3A3C3E;
}
