.section-top {
    padding-top: 20px;
}

.section {
    padding-top: 20px;
    width: 500px;
}

.section-inner-wrapper {
    display: inline-block;
    float: left;
    height: 200px;
    background-color: white;
}

.section-title {
    width: 20%;
    font-size: 24px;
    font-family: Verdana;
    font-weight: bold;
}

.section-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.section-content {
    width: 80%;
    height: 200px;
    overflow: scroll;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.text-emphasize {
    font-weight: bold;
    font-style: italic;
}

.moving-text {
    font-size: 20px;
    position: relative;
    animation-name: news-moving-text;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* for Safari 4.0-8.0: */    
    -webkit-animation-name: news-moving-text;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
}

#moving-text-1 {
   animation-timing-function: linear;
}

#moving-text-2 {
   animation-timing-function: ease;
}

#moving-text-3 {
   animation-timing-function: ease-in;
}

/* Safari 4.0-8.0 */
@-webkit-keyframes news-moving-text {
  from {left: 0px;}
  to {left: 300px;}
} 

/* Standard syntax */
@keyframes news-moving-text {
  from {left: 0px;}
  to {left: 300px;}
}
